*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: black;
    color: white;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    width: 100%;
}
.logo{
    color: #4ee3b4;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}
.navbar-ops{
    display: flex;
    gap: 2.5rem;
}
.navbar-ops a{
    color: aliceblue;
    display: flex;
    font-weight: 700;
    text-decoration: none;
}
.navbar-ops a:hover{
    color: #4EE3B4;
}
.hero{
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 8%;
    overflow: hidden;
}

.hero-content{
    position: relative;
    z-index: 10;
    width:100%;
    max-width:850px;
    margin-left:10%;
}

.hero-content h4{
    color: #4EE3B4;
    letter-spacing: 0.4rem;
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin-bottom: 1rem;
}

.hero-content h1{
    color: white;
    font-size: clamp(4rem, 10vw, 8rem);
    line-height: 0.9;
    font-weight: 800;
    margin-bottom: 1rem;
    max-width:1000px;
}

.same{
    display:flex;
    align-items:flex-end;
    gap:2rem;
    flex-wrap:nowrap;
}

.hero-content p{
    color:#d1d1d1;
    font-size:clamp(1rem,1.5vw,1.2rem);
    line-height:1.8;
    width:65%;
    max-width:none;
}

.contact-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0.5rem;

    width:12rem;
    height:3.2rem;

    background:#4EE3B4;
    color:black;

    text-decoration:none;
    border-radius:3rem;
    font-weight:600;
    margin-bottom: 1%;

    transition:0.3s;
}

.hero-image{
    position:absolute;
    right:15%;
    bottom:0;
    z-index:1;
}

.hero-image img{
    width:35vw;
    min-width:350px;
    max-width:500px;
    max-height:85vh;
    object-fit:contain;
    opacity:0.95;
}

.contact-btn i{
    font-size: 1.5rem;
}
.contact-btn:hover{
    transform: translateY(-0.15rem);
}
.stats{
    position: relative;
    z-index: 100; 

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    padding: 1.5rem 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-left: auto;
    margin-right: auto;
}

.stat-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stat-item i{
    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: #111;
    color: #4EE3B4;

    font-size: 1.5rem;
}

.stat-item h2{
    color: #4EE3B4;

    font-size: 2rem;
    font-weight: 700;

    line-height: 1;
}

.stat-item p{
    color: #fff;

    font-size: 0.95rem;

    margin-top: 0.3rem;
}
.about{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6rem 10rem;

    background: #000;
}

.about-content{
    max-width: 65rem;
}

.about-content h4{
    color: #4EE3B4;

    font-size: 1.5rem;
    font-weight: 600;

    letter-spacing: 0.3rem;

    margin-bottom: 1rem;
}

.about-content h2{
    font-size: 4rem;
    font-weight: 700;

    line-height: 1.2;

    margin-bottom: 2rem;

    color: white;
}

.about-content p{
    color: #d8d8d8;

    font-size: 1.15rem;

    line-height: 2rem;

    margin-bottom: 1.5rem;
}

.about-highlights{
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 1.5rem;

    margin-top: 3rem;
    margin-bottom: 3rem;
}

.highlight{
    display: flex;
    align-items: center;

    gap: 1rem;

    color: white;

    font-size: 1.1rem;
}

.highlight i{
    color: #4EE3B4;

    font-size: 1rem;
}

.about-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    width: 14rem;
    height: 3rem;

    background: #4EE3B4;
    color: black;

    border: none;
    border-radius: 3rem;

    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;

    cursor: pointer;
}
.about-btn i{
    font-size: 1.5rem;
}
.about-btn:hover{
    transform: translateY(-0.15rem);
}
.education{
    min-height: 100vh;

    padding: 6rem 10rem;

    background: #000;
}

.education-title{
    text-align: center;

    margin-bottom: 5rem;
}

.education-title h4{
    color: #4EE3B4;

    letter-spacing: 0.8rem;
    font-size: 1rem;

    margin-bottom: 1rem;
}

.education-title h2{
    font-size: 3.5rem;

    color: white;
}

.timeline{
    position: relative;

    max-width: 60rem;

    margin: auto;
}

.timeline::before{
    content: "";

    position: absolute;

    left: 0.6rem;
    top: 0;

    width: 2px;
    height: 100%;

    background: #4EE3B4;
}

.timeline-item{
    position: relative;

    padding-left: 4rem;

    margin-bottom: 3rem;
}

.timeline-dot{
    position: absolute;

    left: 0;
    top: 0.5rem;

    width: 1.3rem;
    height: 1.3rem;

    border-radius: 50%;

    background: #4EE3B4;
}

.timeline-content{
    background: #111;

    padding: 2rem;

    border-radius: 1rem;

    transition: 0.3s;
}

.timeline-content:hover{
    transform: translateY(-0.3rem);
}

.timeline-content h3{
    color: white;

    margin-bottom: 0.5rem;
}

.timeline-content h4{
    color: #4EE3B4;

    margin-bottom: 1rem;

    font-size: 1rem;
}

.timeline-content span{
    color: #bbb;

    font-size: 0.95rem;
}

.timeline-content p{
    color: #ddd;

    margin-top: 1rem;

    line-height: 1.8rem;
}
.skills{
    min-height:100vh;

    padding:6rem 10rem;

    background:#000;
}

.skills-title{
    text-align:center;

    margin-bottom:5rem;
}

.skills-title h4{
    color:#4EE3B4;

    letter-spacing:0.8rem;

    margin-bottom:1rem;

    font-size:1rem;
}

.skills-title h2{
    font-size:3.5rem;

    color:white;
}

.skills-container{
    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:2rem;
}

.skill-card{
    background:#111;

    padding:2rem;

    border-radius:1rem;

    text-align:center;

    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-0.5rem);
}

.skill-card i{
    font-size:3rem;

    color:#4EE3B4;

    margin-bottom:1rem;
}

.skill-card h3{
    color:white;

    margin-bottom:1rem;
}

.skill-card p{
    color:#d0d0d0;

    line-height:1.7rem;
}
.projects{
    min-height:100vh;
    padding:100px 10%;
    background:#000;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h4{
    color:#4EE3B4;
    letter-spacing:4px;
    font-size:16px;
    margin-bottom:10px;
}

.section-title h2{
    color:white;
    font-size:50px;
}

.projects-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.project-card{
    background:#111;
    padding:30px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.08);
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

.project-card h3{
    color:white;
    font-size:24px;
    margin-bottom:20px;
}

.project-card p{
    color:#cfcfcf;
    line-height:1.8;
    margin-bottom:20px;
}

.tech{
    color:#4EE3B4;
    font-weight:600;
}
.contact{
    min-height:100vh;
    padding:6rem 10%;
    background:#000;
}

.contact-container{
    display:flex;
    justify-content:space-between;
    gap:4rem;
    margin-top:4rem;
}

.contact-info{
    flex:1;
}

.contact-item{
    display:flex;
    align-items:center;
    gap:1.2rem;
    margin-bottom:2rem;
}

.contact-item i{
    font-size:1.8rem;
    color:#4EE3B4;
}

.contact-item h3{
    color:white;
    margin-bottom:0.3rem;
}

.contact-item p{
    color:#bdbdbd;
}

.contact-form{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:1.2rem;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:1rem;
    background:#111;
    border:1px solid #222;
    color:white;
    border-radius:0.6rem;
    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#4EE3B4;
}

.contact-form button{
    width:fit-content;
    padding:1rem 2rem;
    background:#4EE3B4;
    color:black;
    border:none;
    border-radius:2rem;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
}

.contact-form button:hover{
    transform:translateY(-3px);
}
/* MOBILE VIEW */
@media screen and (max-width: 768px) {
      .logo{
        width: 100%;
        text-align: left;
    }

    /* Navbar */
    .navbar{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .navbar-ops{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    .navbar-ops{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px 10px;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .navbar-ops a{
        font-size: 1rem;
        display: block;
    }

    /* Hero Section */

    .hero{
        min-height:auto;
        padding:0 40px;
        position:relative;
        overflow: visible;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
    }

    .hero-content{
        width:100%;
        position:relative;
        z-index:10;
        margin-left: 0%;
        top: 20px;

    }

    .hero-content h1{
        font-size:3rem;
        line-height:0.9;

        /* overlap into image */
        margin-right:-35%;
    }

    .hero-content p{
        width:80%;
        font-size:1rem;
        line-height:1.8;
    }

    .same{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        gap:1rem;
    }

    .hero-image{
        position:absolute;
        right:-30px;
        bottom: -10%;

        z-index:1;
    }

    .hero-image img{
    width:clamp(280px, 65vw, 340px);
    min-width:0;
    max-width:340px;
    height:auto;
    opacity:0.9;
    }
    .contact-btn{
        width:180px;
    }

    /* Stats */
    .stats{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding: 20px;
        margin-top: 0;
        top: 40px;
    }

    .stat-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .stat-item i{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 50%;
        background: #111;
        color: #47e6c1;
    }

    .stat-item h2{
        margin: 0;
        font-size: 2rem;
        color: #47e6c1;
    }

    .stat-item p{
        margin: 5px 0 0;
        font-size: 0.9rem;
        line-height: 1.4;
    }

    /* Common Section Headings */
    .about h2{
        font-size: 2.2rem;
        line-height: 1.2;
        text-align: left;

    }
    .education-title h2,
    .skills-title h2,
    .section-title h2{
        font-size: 2.2rem;
        line-height: 1.2;
        text-align: center;
    }

    .about h4,
    .education-title h4,
    .skills-title h4,
    .section-title h4{
        font-size: 0.9rem;
        letter-spacing: 4px;
    }

    /* About */
    .about{
        padding: 60px 20px;
    }

    .about-content{
        width: 100%;
    }

    .about p{
        width: 100%;
        font-size: 1rem;
        line-height: 1.8;
    }

    .about-highlights{
        grid-template-columns: 1fr;
    }

    /* Education */
    .education{
        padding: 60px 20px;
    }

    .timeline{
        margin-top: 40px;
    }

    .timeline-content{
        width: 85%;
        padding: 20px;
    }

    /* Skills */
    .skills{
        padding: 60px 20px;
    }

    .skills-container{
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .skill-card{
        width: 100%;
    }

    /* Projects */
    .projects{
        padding: 60px 20px;
    }

    .projects-container{
        grid-template-columns: 1fr;
    }

    /* Contact */
    .contact{
        padding: 60px 20px;
    }

    .contact-container{
        flex-direction: column;
        gap: 40px;
    }

    .contact-form{
        width: 100%;
    }

    .contact-form input,
    .contact-form textarea{
        width: 100%;
    }
}
